.our-services{
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-left: 380px;
}

.card1,.card2,.card3,.card4{
    width: 150px;
    background-color: rgb(255, 255, 255);
    height: 100px;
    border-radius: 12px;
}
.image1{
    border-radius: 90px;
    float: right;
    width: 200px;
    margin-top: -80px;
    margin-right: 300px;
}
.image2{
    border-radius: 90px;
    position: relative;
    top: 500px;
    /* float: right; */
    width: 200px;
    margin-top: -890px;
    margin-left: 100px;
}
.image3{
    border-radius: 90px;
    float: right;
    position: relative;
    width: 200px;
    /* margin-top: 380px; */
    margin-right: 50px;
    margin-bottom: 60px;
}
